<button
  type="button"
  id="fc-search-trigger"
  class="header__icon header__icon--search link focus-inset"
  aria-label="{{ 'general.search.search' | t }}"
>
  <span class="svg-wrapper">
    {{- 'icon-search.svg' | inline_asset_content -}}
  </span>
</button>
